<div id="accordion">
    <div class="card">
        <div class="list-group-item bg-dark">
            <a class="card-link text-white" data-toggle="collapse" href="#collapseOne">
                <i class="fas fa-list"></i> Danh mục sản phẩm
            </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="list-group">
                <a th:each="c : ${cates}" th:href="@{|/product/list?cid=${c.id}|}" class="list-group-item list-group-item-action">[[${c.name}]]</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="list-group-item bg-dark">
            <a class="card-link text-white" data-toggle="collapse" href="#collapseTwo">
                <i class="fas fa-list-alt"></i> Nhà cung cấp
            </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Apple</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Samsung</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Nokia</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">GL</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Sony Ericson</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Dell</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Acer</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">HP</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Toshiba</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="list-group-item bg-dark">
            <a class="card-link text-white" data-toggle="collapse" href="#collapseThree">
                <i class="fas fa-star"></i> Hàng đặc biệt
            </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Apple</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Samsung</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Nokia</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">GL</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Sony Ericson</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Dell</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Acer</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">HP</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Toshiba</a>
            </div>
        </div>
    </div>
</div>