<div class="card">
    <div class="card-header">
        AUTHORIZING
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th ng-repeat="role in roles">{{role.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="acc in admins">
                    <th>{{acc.fullname}}</th>
                    <th ng-repeat="role in roles">
                        <input ng-checked="authority_of(acc,role)" ng-click="authority_changed(acc,role)" type="checkbox">
                    </th>

                </tr>
            </tbody>
        </table>
    </div>
</div>